*{
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Merriweather Sans";
}

body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header{
    height: 10%;
    padding: 10px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
}
.svg{
    transform: scale(0.6);
    transition: all ease-in-out 0.17s;
}
.svg:hover{
    cursor: pointer;
    transform: scale(0.7);
}
.container{
    height: 85%;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog[open]{
    border: none;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

dialog[open] > div > input {
    outline: none;
    border: none;
    padding: 15px;
    font-size: 25px;
    background-color: rgba(210, 210, 210, 0.22);
    border-radius: 10px;
}
.toggle-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6%;
}
.toggle-buttons > button{
    border: none;
    font-size: 25px;
    transition: all ease-in-out 0.14s;
    padding: 15px;
    border-radius: 10px;
    width: 48%;
}
.toggle-buttons > button:hover{
    cursor: pointer;
    background-color: rgba(219, 219, 37, 0.32);
}
.toggle-button.active{
    background-color: rgba(219, 219, 37, 0.467);
}
.toggle-button.active:hover{
    background-color: rgba(219, 219, 37, 0.467);
}
.submit{
    outline: none;
    border: none;
    padding: 15px;
    font-size: 25px;
    background-color: rgba(210, 210, 210, 0.22);
    border-radius: 10px;
    border: none;
    transition: all ease-in-out 0.14s;
    background-color: rgba(64, 210, 64, 0.33);
}
.submit:hover{
    cursor: pointer;
    background-color: rgba(64, 210, 64, 0.503);
}
.cancel{
    border: none;
    padding: 15px;
    font-size: 25px;
    border-radius: 10px;
    transition: all ease-in-out 0.14s;
    background-color: rgba(239, 27, 27, 0.33);
}
.cancel:hover{
    cursor: pointer;
    background-color: rgba(239, 27, 27, 0.503);
}
.button{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.error{
    color: red;
    padding: 5px;
}
.add-book{
    margin-top: 25px;
    border: none;
    background-color: rgb(236, 236, 236);
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    transition: all ease-in-out 0.05s;
}
.add-book:hover{
    background-color: rgba(225, 225, 225, 0.647);
    cursor: pointer;
}
.books{
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 30px;
    padding-top: 0;
}
.books > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.book{
    background-color: rgba(215, 215, 215, 0.609);
    min-height: 350px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    gap: 20px;
    padding: 25px;
    font-size: 26px;
    font-family: "Merriweather Sans";
}
.book:hover{
    border: 3px solid rgba(165, 165, 165, 0.371);
    cursor: pointer;
}
.book > div{
    color: black;
}

.book-button{
    padding: 7px;
    width: 90%;
    border: none;
    font-size: 26px;
    font-family: "Merriweather Sans";
    border-radius: 10px;
}
.book-button:hover{
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    cursor: pointer;
}

.book-title{
    text-align: center;
    border-radius: 10px;
}

.footer{
    height: 5%;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.footer > a{
    color: rgb(207, 207, 207);
}
a:hover{
    color: rgb(255, 255, 255);
}
.github{
    transform: scale(0.4);
}